<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>

    <!-- Person: {{ person }}

    {% autoescape off %}
        Person: {{ person }}
    {% endautoescape %} -->

    {% comment %}
        <p>Это комментарий!</p>
    {% endcomment %}

    <!-- {% if number > 0 %}
        <p>Число {{ number }} - положительное</p>
    {% else %}
        <p>Число {{ number }} - отрицательное</p>
    {% endif %} -->

    <!-- <ul>
        {% for numbers in array %}
            <li>{{ numbers }}</li>
            {% empty %}
            <li>Коллекция пустая!</li>
        {% endfor %}
    </ul> -->

    <!-- {% with name="Bob" age="23" %}
    <div>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
    </div>
    {% endwith %} -->

    <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p>

</body>
</html>